# This requirements file lists all third-party dependencies.
#
# To install these dependencies for Google App Engine, run:
#
#
#    $ pip install -r requirements.txt -t lib
#
#
# This will create and populate the `lib` subdirectory.
# The `lib` directory is added to `sys.path` by `appengine_config.py`.
#

Flask==0.10
Flask-WTF==0.11
requests==2.3.0
python-dateutil