{% extends "base.html" %}

{% block title %} About | QuickHop {% endblock %}

{% block content %}

<h4 class="header blue-text text-lighten-1">
    About QuickHop
</h4><br>

<h5 class="subheading">Some Background</h5>

<p>QuickHop was built primarily for <a href="http://en.wikipedia.org/wiki/Airline_staff_travel">non-revenue travelers</a> and passriders, to provide a quick and simple means of locating available flight options between city pairs.</p>

<p>Other web-based travel tools may provide more detail and more search features, but QuickHop is designed to be used on your mobile phone, with one hand, while running through a crowded terminal.</p>

<h5 class="subheading">Who We Are</h5>

<p>There's no "we" really. QuickHop was built by Brian D. Wendt, a former regional airline and corporate pilot turned engineering student and kitplane-builder.</p>

<p>QuickHop isn't a business, it's just a small project that hopefully helps to smooth out those nail-biting commutes and multi-leg non-rev "vacations." If you're nodding and smiling right now, you've been there.</p>

<p>QuickHop doesn't exist to make money, but it does cost money to operate. If you feel this site makes your travels a bit easier, please consider donating whatever you can. It's much appreciated. There's a "Donate" button at the bottom of the page.</p>

<h5 class="subheading">Under the Hood</h5>

<p>QuickHop is written in Python, using the Flask web framework, and runs on Google's App Engine. The flight data is sourced from the FlightStats API. The code is open source and is available <a href="https://github.com/briandwendt/quickhop-mobile">on GitHub</a>.</p>

{% endblock %}