{% extends "base.html" %}

{% block title %} Help | QuickHop {% endblock %}

{% block content %}

<h4 class="header blue-text text-lighten-1">
    About QuickHop
</h4><br>

<h5 style="font-size: 1.2rem; font-weight: 500;">Some Bacon</h5>

<p>Bacon ipsum dolor amet capicola porchetta pork belly beef ribs tongue shank pork chop kevin frankfurter alcatra. Porchetta ham hock meatloaf doner hamburger ham filet mignon. Ham turkey tri-tip capicola sausage venison picanha. Ribeye boudin meatball pancetta pork belly.</p>

{% endblock %}