{% extends "base.html" %}

{% block title %} Help | QuickHop {% endblock %}

{% block content %}

<h4 class="header blue-text text-lighten-1">
    About QuickHop
</h4><br>

<h5 class="subheading">Some Background</h5>

<p>QuickHop was built primarily for <a href="http://en.wikipedia.org/wiki/Airline_staff_travel">non-revenue travelers</a> and passriders, to provide a quick and simple means of locating available flight options between city pairs.</p>

<p>Other web-based travel tools may provide more detail and more search options, but QuickHop is designed to be used on your mobile phone, with one hand, while running through a crowded terminal.</p>

<h5 class="subheading">About the Code</h5>

<p>QuickHop is written in Python, using the Flask web framework, and runs on Google's App Engine. The flight data is sourced from the FlightStats API. The code is open source and is available <a href="https://github.com/briandwendt/quickhop-mobile">on GitHub</a>.</p>

<h5 class="subheading">A Little Bacon</h5>

<p>Bacon ipsum dolor amet capicola porchetta pork belly beef ribs tongue shank pork chop kevin frankfurter alcatra. Porchetta ham hock meatloaf doner hamburger ham filet mignon. Ham turkey tri-tip capicola sausage venison picanha. Ribeye boudin meatball pancetta pork belly.</p>

{% endblock %}