<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>{% block title %}{% endblock %}</title>

  <!-- CSS  -->
  <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>

  <div class="navbar-fixed">
    <nav class="blue lighten-1" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">QuickHop</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Help</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Help</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-file-cloud"></i></a>
      </div>
    </nav>
  </div>


{% block content %}{% endblock %}


  <footer class="page-footer brown lighten-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="brown-text text-darken-2">QuickHop needs you!</h5>
          <p class="brown-text text-lighten-5">
          QuickHop is a free service, built and maintained by a single person, for the benefit of everyone.
          Please consider a donation of any amount to help keep this app up and running. Thanks!
          </p>
          <a href="#" class="waves-effect waves-light btn brown darken-2">Donate Now</a>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Built by <a class="brown-text text-darken-1" href="https://github.com/briandwendt">Brian D. Wendt</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
  <script src="{{ url_for('static', filename='js/init.js') }}"></script>

  </body>
</html>
