{% extends "base.html" %}

{% block title %} Contact | QuickHop {% endblock %}

{% block image_credit %}
<!-- <span class="right brown-text text-lighten-2 hide-on-small-only" style="font-size: 0.7rem;">
    Image: "Fijian Sunset" by
    <a href="https://www.flickr.com/photos/alexkehr/196910902" target="_blank"
    class="brown-text text-darken-2">Alex Kehr</a>,
    (<a href="https://creativecommons.org/licenses/by/2.0/" class="brown-text text-darken-2">CC BY 2.0</a>)
</span> -->
{% endblock %}

{% block content %}

    <div class="parallax-container hide-on-small-only" style="height: 400px;">
        <div class="parallax">
            <img src="{{ url_for('static', filename='img/parallax-2.jpg') }}">
        </div>
    </div>

  <div class="section no-pad-bot">
    <div class="container">
      <div class="row">
        <div class="col s12 m10 offset-m1">

            <h4 class="header" style="color: #f04c4f;">
              Talk Hard&nbsp;
                <i class="mdi-notification-sms-failed" style="font-size: 2.1rem;"></i>
            </h4>

            <p class="light" style="margin: 2rem 0 3rem;">
              You're anonymous. Really. Give it hell.
            </p>


            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <ul class="flashes center" style="margin-top: -0.8rem;">
                {% for category, message in messages %}
                  <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}

            <form method="POST">

                {{ form.csrf_token }}

                <div class="row">
                  <div class="input-field col s12">
                    {{ form.name }}
                    {{ form.name.label }}
                    {% if form.name.errors %}
                      <ul class="errors">
                      {% for error in form.name.errors %}
                        <li>{{ error }}</li>
                      {% endfor %}
                      </ul>
                    {% endif %}
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    {{ form.message(class_="materialize-textarea") }}
                    {{ form.message.label }}
                    {% if form.message.errors %}
                      <ul class="errors">
                      {% for error in form.message.errors %}
                        <li>{{ error }}</li>
                      {% endfor %}
                      </ul>
                    {% endif %}
                  </div>
                </div>

                <div class="row" style="padding-left: 20px;">
                  {{ form.recaptcha }}
                  {% if form.recaptcha.errors %}
                      <ul class="errors" style="margin-top: 20px;">
                      {% for error in form.recaptcha.errors %}
                        <li>{{ error }}</li>
                      {% endfor %}
                      </ul>
                    {% endif %}
                </div>

                <div class="center" style="margin: 4rem 0 3rem;">
                  <button class="btn-large waves-effect waves-light"
                    style="background-color: #f04c4f; width: 260px; max-width: 60%;" type="submit">
                    <i class="mdi-content-send right"></i>
                    Send it
                  </button>
                </div>

            </form>

        </div>
      </div>
    </div>
  </div>
  
{% endblock %}