{% extends "base.html" %}

{% block title %} FAQ | QuickHop {% endblock %}

{% block content %}

<h4 class="header blue-text text-lighten-1">
    QuickHop FAQ
</h4><br>

<h5 style="font-size: 1.2rem; font-weight: 500;">
    <i class="mdi-image-filter-drama"></i>&nbsp;
    What's a "3-letter IATA code?"
</h5>

<p class="grey-text text-darken-1">Bacon ipsum dolor amet capicola porchetta pork belly beef ribs tongue shank pork chop kevin frankfurter alcatra. Porchetta ham hock meatloaf doner hamburger ham filet mignon. Ham turkey tri-tip capicola sausage venison picanha. Ribeye boudin meatball pancetta pork belly.</p>

{% endblock %}