{% extends "base.html" %}

{% block title %} FAQ | QuickHop {% endblock %}

{% block content %}

<h4 class="header blue-text text-lighten-1">
    QuickHop FAQ
</h4><br>

<h5 class="subheading">
    <i class="mdi-image-filter-drama"></i>&nbsp;
    What's a "3-letter IATA code?"
</h5>

<p class="grey-text text-darken-1">IATA is the International Air Transport
Association, one of the world's largest airline industry trade associations.
IATA helps formulate policy and standards.</p>

<p class="grey-text text-darken-1">An IATA airport code is a unique 3-letter
designator for an airport. For example, the IATA code "BOS" designates Boston's
Logan International Airport. You can search Wikipedia's
<a href="http://en.wikipedia.org/wiki/List_of_airports_by_IATA_code:_A">List of Airports by IATA code</a> if you need help remembering a code.</p>

<h5 class="subheading">
    <i class="mdi-image-filter-drama"></i>&nbsp;
    What is Bacon Ipsum?
</h5>

<p class="grey-text text-darken-1">
    Bacon ipsum dolor amet capicola porchetta pork belly beef ribs tongue shank
    pork chop kevin frankfurter alcatra. Porchetta ham hock meatloaf doner
    hamburger ham filet mignon. Ham turkey tri-tip capicola sausage venison
    picanha. Ribeye boudin meatball pancetta pork belly.
</p>

{% endblock %}