{% extends "base.html" %}

{% block title %}
  {{ flights.request.departureAirport.airport.iata }} to
  {{ flights.request.arrivalAirport.airport.iata }} | QuickHop
{% endblock %}

{% block content %}

<h5 class="center-align blue-text text-lighten-1" style="font-weight: 300;">
  {{ flights.request.departureAirport.airport.iata }}
  <span style="font-size: 75%;">&mdash;</span>
  {{ flights.request.arrivalAirport.airport.iata }}
</h5>

<h6 class="center-align">{{ flights.request.date.interpreted | as_date }}</h6>

<p class="center-align" style="font-size: 0.8rem;">
  {{ flights.request.departureAirport.airport.city }},
  {% if 'stateCode' in flights.request.departureAirport.airport %}
    {{ flights.request.departureAirport.airport.stateCode }}
  {% elif 'countryName' in flights.request.departureAirport.airport %}
    {{ flights.request.departureAirport.airport.countryName }}
  {% endif %}
  &rarr;
  {{ flights.request.arrivalAirport.airport.city }},
  {% if 'stateCode' in flights.request.arrivalAirport.airport %}
    {{ flights.request.arrivalAirport.airport.stateCode }}
  {% elif 'countryName' in flights.request.arrivalAirport.airport %}
    {{ flights.request.arrivalAirport.airport.countryName }}
  {% endif %}
</p>

<div class="row">
    <div class="col s12">

      <ul class="collapsible popout" data-collapsible="accordion">

        {% for flight in flights.flightStatuses %}

        <li>
          <div class="collapsible-header active">

            {% if 'status' in flight %}
              {% if flight.status == 'S' %}
                <!-- Status: Scheduled -->
                <i class="mdi-action-alarm scheduled"></i>
              {% elif flight.status == 'C' %}
                <!-- Status: Canceled -->
                <i class="mdi-action-highlight-remove canceled"></i>
              {% elif flight.status == 'L' %}
                <!-- Status: Landed -->
                <i class="mdi-action-done landed"></i>
              {% elif flight.status == 'A' %}
                <!-- Status: Active/Enroute -->
                <i class="mdi-device-airplanemode-on enroute"></i>
              {% elif flight.status == 'D' %}
                <!-- Status: Diverted -->
                <i class="mdi-communication-call-missed enroute"></i>
              {% endif %}
            {% endif %}


            <span class="flight dep_time">
              {% if 'publishedDeparture' in flight.operationalTimes %}
                {{ flight.operationalTimes.publishedDeparture.dateLocal | as_time }}<span style="font-size: 40%;"> {{ flight.operationalTimes.publishedDeparture.dateLocal | am_pm }}</span>
              {% elif 'flightPlanPlannedDeparture' in flight.operationalTimes %}
                {{ flight.operationalTimes.flightPlanPlannedDeparture.dateLocal | as_time }}<span style="font-size: 40%;"> {{ flight.operationalTimes.flightPlanPlannedDeparture.dateLocal | am_pm }}</span>
              {% endif %}
            </span>
            <span class="flight number">
              {{ flight.carrier.iata }} {{ flight.flightNumber }}
            </span>
          </div>
          <div class="collapsible-body">
            <ul style="padding: 10px;">
            {{ flight.carrier.name }} {{ flight.flightNumber }}
              <li>
                Arrive:
                {% if 'publishedArrival' in flight.operationalTimes %}
                  {{ flight.operationalTimes.publishedArrival.dateLocal | as_time }}
                  {{ flight.operationalTimes.publishedArrival.dateLocal | am_pm }}
                {% elif 'flightPlanPlannedArrival' in flight.operationalTimes %}
                  {{ flight.operationalTimes.flightPlanPlannedArrival.dateLocal | as_time }}
                  {{ flight.operationalTimes.flightPlanPlannedArrival.dateLocal | am_pm }}
                {% endif %}
              </li>
              <li>
                Status Code: {{ flight.status }}
              </li>

              {% if 'airportResources' in flight %}
              <li>
                Departure Terminal: {{ flight.airportResources.departureTerminal }}
              </li>
              <li>
                Departure Gate: {{ flight.airportResources.departureGate }}
              </li>
              <li>
                Arrival Terminal: {{ flight.airportResources.arrivalTerminal }}
              </li>
              <li>
                Arrival Gate: {{ flight.airportResources.arrivalGate }}
              </li>
              {% endif %}

              <li>
                {% if 'flightEquipment' in flight %}
                  {% if 'scheduledEquipment' in flight.flightEquipment %}
                    Aircraft: {{ flight.flightEquipment.scheduledEquipment.iata }}
                  {% elif 'actualEquipment' in flight.flightEquipment %}
                    Aircraft: {{ flight.flightEquipment.actualEquipment.iata }}
                  {% endif %}
                {% endif %}
              </li>

            </ul>
          </div>
        </li>

        {% endfor %}

      </ul>

    </div>
</div>

{% endblock %}