{% extends "base.html" %}

{% block title %}QuickHop - Find flights fast{% endblock %}

{% block content %}

<!-- Begin Parallax Image Container -->

<div class="parallax-container">
  <div class="parallax">
    <img src="{{ url_for('static', filename='img/venice-2.jpg') }}">
  </div>

  <!-- Search Form Section -->
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col s12 m10 offset-m1">

            <div class="card-panel search-flights">

              <h1 class="header center blue-text text-lighten-1">
                <i class="mdi-device-airplanemode-on"></i>
                <span>Find</span>
                <span>Flights</span>
                <span style="color: #f04c4f;">Fast</span>
              </h1>

              {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  <ul class="flashes center" style="margin-top: -0.8rem;">
                  {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                  {% endfor %}
                  </ul>
                {% endif %}
              {% endwith %}

              <form method="POST">

                {{ form.csrf_token }}

                <div class="row">
                  <div class="input-field col s6">
                    {{ form.origin(class_="validate", placeholder="CDG") }}
                    {{ form.origin.label(class_="truncate") }}
                    {% if form.origin.errors %}
                      <ul class="errors">
                      {% for error in form.origin.errors %}
                        <li>{{ error }}</li>
                      {% endfor %}
                      </ul>
                    {% endif %}
                  </div>
                  <div class="input-field col s6">
                    {{ form.destination(class_="validate", placeholder="VCE") }}
                    {{ form.destination.label(class_="truncate") }}
                    {% if form.destination.errors %}
                      <ul class="errors">
                      {% for error in form.destination.errors %}
                        <li>{{ error }}</li>
                      {% endfor %}
                      </ul>
                    {% endif %}
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s4">
                    {{ form.month }}
                    {{ form.month.label }}
                    {% if form.month.errors %}
                      <ul class="errors">
                      {% for error in form.month.errors %}
                        <li>{{ error }}</li>
                      {% endfor %}
                      </ul>
                    {% endif %}
                  </div>
                  <div class="input-field col s4">
                    {{ form.day }}
                    {{ form.day.label }}
                    {% if form.day.errors %}
                      <ul class="errors">
                      {% for error in form.day.errors %}
                        <li>{{ error }}</li>
                      {% endfor %}
                      </ul>
                    {% endif %}
                  </div>
                  <div class="input-field col s4">
                    {{ form.year }}
                    {{ form.year.label }}
                    {% if form.year.errors %}
                      <ul class="errors">
                      {% for error in form.year.errors %}
                        <li>{{ error }}</li>
                      {% endfor %}
                      </ul>
                    {% endif %}
                  </div>
                </div>

                <div class="center-align">
                  <button class="btn-large waves-effect waves-light"
                    style="background-color: #f04c4f; min-width: 40%" type="submit">
                    <i class="mdi-action-search left"></i>
                    Find Flights
                  </button>
                </div>

              </form>
            </div>

        </div>
      </div>
    </div>
  </div>
  <!-- End Search Form Section -->
</div>
<!-- End Parallax Image Container -->

  <!--   Icon Section   -->

  <div class="container hide-on-small-only">
    <div class="section">
      <div class="row">
        <div class="col m6 l4">
          <div class="icon-block">
            <h2 class="center orange-text text-lighten-1"><i class="mdi-image-flash-on"></i></h2>
            <h5 class="center">Be quick</h5>

            <p class="light">
              QuickHop is quick. Real quick. Because when you're running through
              a crowded terminal to catch the last flight home for the night,
              you can't be waiting around for a sluggish, bloated web app.
            </p>
          </div>
        </div>

        <div class="col m6 l4">
          <div class="icon-block">
            <h2 class="center" style="color: #57a358">
              <i class="mdi-hardware-phone-android"></i>
            </h2>
            <h5 class="center">Stay mobile</h5>

            <p class="light">
            QuickHop is designed to be used on a mobile device, with one hand.
            It's easy to read on small screens, with simple icons to
            indicate flight status &mdash; no mental math required.
            </p>
          </div>
        </div>

        <div class="col l4 hide-on-med-and-down">
          <div class="icon-block">
            <h2 class="center" style="color: #f04c4f;">
              <i class="mdi-maps-directions-walk"></i>
            </h2>
            <h5 class="center">Keep going</h5>

            <p class="light">
            QuickHop is made for non-revenue travelers, passriders and
            commuters. When you get bumped, nothing beats easy access to
            reliable flight data &mdash; except maybe a strong cocktail.
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>
  <!-- End Icon Section -->

{% endblock %}
